* {
    box-sizing: border-box;
}

html, body {
    height:100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(./assets/img/books-5430309_1920.jpg) no-repeat center;
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header > h1 {
    color: white;
    text-align: center;
    font-size: 5rem;
    margin: 0;
    text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
}

.book-container {
    width: 70%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 0.2fr);
    grid-template-rows: repeat(autofit, minmax(300px, 300px));
    gap: 20px;
    overflow: auto;
}

.add-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-card > * {
    margin: 0;
}

.add-card > img {
    height: 200px;
}

.add-card:hover {
    background-color: rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    cursor: pointer;
}

.add-card,
.card {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    min-width: 200px;
    min-height: 300px;
    max-height: 300px;
    padding: 15px;
    transition: 0.2s;
}

.card {
    background-position: center;
    background-size: cover;
}

.card > div {
    display: flex;
    justify-content: flex-end;
}

.card > h3 {
    margin-top: 100px;
    text-align: center;
    color: black;
}

.delete-button {
    background-color: red;
    background-image: url(./assets/img/close_24dp_FFFFFF_FILL0_wght700_GRAD0_opsz24.svg);
    background-position: center;
    background-size: cover;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    transition: 0.3s;
} 

.delete-button:hover {
    background: none;
    background-color: red;
    border: 1px solid red;
    height: 20px;
    width: 100px;
    color: white !important;
    font-size: 12px;
    border-radius: 10px;
}

.delete-button:hover:after {
  content:"Delete";
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

dialog {
    width: 40%;
    height: 80%;
    padding: 25px;
    border: none;
    border-radius: 20px;
    overflow: auto;
}

.book-info-modal {
    width: 40%;
}

.info-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    overflow: auto;
}

.info-container > div {
    min-width: 180px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.right-side > img {
    height: 80%;
    min-width: 300px;
}

.close-button-2 {
    grid-column: 2;
    grid-row: -1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > p {
    margin: 5px;
}

dialog > h1 {
    margin: 0;
}

input[type="text"],
input[type="number"] {
    width: 60%;
    height: 50px;
    border: 1px solid #9fa0a1;
    outline: none;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
}

input:focus{
    border: 1px solid blue;
    box-shadow: 0px 10px 13px -7px black;
}

.button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.submit-button {
 outline: none;
 cursor: pointer;
 border: none;
 padding: 0.9rem 2rem;
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 position: relative;
 display: inline-block;
 letter-spacing: 0.05rem;
 font-weight: 700;
 font-size: 18px;
 border-radius: 500px;
 overflow: hidden;
 background: #66ff66;
 color: ghostwhite;
}

.submit-button span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

.submit-button:hover span {
 color: black;
}

.submit-button::before,
.submit-button::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

.submit-button::before {
 content: "";
 background: #000;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.submit-button:hover::before {
 transform: translate3d(100%, 0, 0);
}

.close-button,
.close-button-2 {
  font-size: 18px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid red;
  border-radius: 500px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: red;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.close-button:before,
.close-button-2:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: red;
  border-radius: inherit;
  z-index: -1;
}

.close-button:hover, 
.close-button-2:hover,
button:focus {
  color: white;
  cursor: pointer;
}

.close-button:hover:before,
.close-button-2:hover:before,
button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.close-button:active,
.close-button-2:active {
  transform: scale(1);
}

label {
    font-size: 1rem;
}

label > span {
    color: red;
}

::backdrop{
    background-color: black;
    opacity: 0.75;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}